@charset "utf-8";
/*for all*/
a:link,a:visited{color:#5a5a5a; text-decoration:none}
a:hover,a:active{color:#000; }

*{ margin:0; padding:0;}
li{list-style:none;vertical-align:middle;}
ol li{list-style:inside decimal;}
img{ border:0;}
table{ border:0;cell-spacing:0;border-collapse: collapse;}
.Hide{border-top:1px solid transparent !important;margin-top:-1px !important;border-top:0;margin-top:0;clear:both;visibility:hidden;font:0px/0px Lucida Sans;}
input,select{ color:#004874}

body{font:12px;height:674px;color:#fff;text-align:center; background:url(../img/bg.jpg) repeat-x}
.Wp {text-align:left; margin:0 auto;width:960px; background:url(../img/solgan.jpg) no-repeat;}

h1 img{ margin:0 0 0 180px;}
#mainbox h3{ width:158px; height:53px; overflow:hidden; margin:238px auto 0;}
#mainbox h3 a{background:url(application/assets/img/in.gif) 0 -53px no-repeat ; display:block;}
#mainbox h3 a:hover{ background:url(img/in.gif)  0 0 no-repeat;}

#hotbox{ margin:10px 0 0 180px;}
#hotbox li{ float:left; margin:10px 60px 0 0}
#hotbox li a:hover{ border-bottom:2px solid #e9cc8a}